<?xml version='1.0.0' encoding='utf-8'?>
<widget id="com.recentsky.test" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Recentsky</name>
    <description>
        Tools for make things more good.
    </description>
    <author email="support@recentsky.com" href="https://www.recentsky.com">
        Recentsky Team
    </author>
    <content src="/login" />
    <access origin="*" />
    <access origin="*" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <icon src = "www/images/icons-512.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
   <icon src = "www/images/icons-512.png" 
      gap:platform = "android" gap:qualifier = "mdpi" />
		
   <icon src = "www/images/icons-512.png" 
      gap:platform = "android" gap:qualifier = "hdpi" />
		
   <icon src = "www/images/icons-512.png" 
      gap:platform = "android" gap:qualifier = "xhdpi" />
		
   <icon src = "www/images/icons-512.png" 
      gap:platform = "android" gap:qualifier = "xxhdpi" />
</widget>
